<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="jumbo">
    <h1 style="color:blue">Welcome to the DBS-Trading System <h1>
    <h3 style="color:green">This tool will guide which share to purchase<h3>
    <img src="{{url_for('static', filename='image/DBS.png')}}" >

    </div>
</head>

<table border="1">
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if loop.index == 1 %}
		<td><a href="https://www.google.com/">{{ row[0]  }}</a></td>
        
        {% else %}
        <td>{{row_}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}

</table>
</html>
