<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="jumbo">
    <h1 style="color:blue">Welcome to the DBS-Trading System <h1>
    <h3 style="color:green">This tool will guide which share to purchase<h3>
    <img src="{{url_for('static', filename='image/DBS.png')}}" >

    </div>
</head>

<table border="1">
    <tr>
        <ul class="menu">
      			<li><a href="/trade/INFY">INFY</a></li>
			<li><a href="/trade/HDFC">HDFC</a></li>
			<li><a href="/trade/TCS">TCS</a></li>
			<li><a href="/trade/WIT">WIT</a></li>
           </ul>
    </tr>
  

</table>
</html>