<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="jumbo">
    <h1 style="color:blue">Welcome to the DBS-Trading System <h1>
    <h3 style="color:green">This tool will guide which share to purchase<h3>
    <img src="{{url_for('static', filename='image/DBS.png')}}" >

    </div>
</head>

<table border="1">
	
    
       
      			<tr><td>INFY <a href="/data/INFY">Data</a> , <a href="/trade/INFY">Graph</a>, <a href="/pre/INFY">Prediction</a></td></tr>
			<tr><td>HDFC <a href="/data/HDFC">Data</a> , <a href="/trade/HDFC">Graph</a>, <a href="/pre/HDFC">Prediction</a></td></tr>
			<tr><td>TCS <a href="/data/TCS">Data</a> , <a href="/trade/TCS">Graph</a>, <a href="/pre/TCS">Prediction</a></td></tr>
			<tr><td>WIT <a href="/data/WIT">Data</a> , <a href="/trade/WIT">Graph</a>, <a href="/pre/WIT">Prediction</a></td></tr>
           
    
	
  

</table>
</html>